.desktop-1-21k {
    background-color: #151925;
    height: 407.4rem;
    overflow: hidden;
    position: relative;
    width: 100%;
  
    .auto-group-j3rx-qzn {
      height: 51.2rem;
      left: 8.6rem;
      position: absolute;
      top: 22.4rem;
      width: 115.5rem;
  
      .welcome-to-my-portfolio-Lia {
        color: #ffffff;
        font-family: Sen, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 700;
        height: 5.8rem;
        left: 0;
        line-height: 1.2025;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 58rem;
      }
      .im-irumva-kageruka-leon-noel-CEz {
        color: #ffffff;
        font-family: Sedan, 'Source Sans Pro';
        font-size: 4.6rem;
        font-weight: 400;
        height: 5.8rem;
        left: 0;
        line-height: 1.2575;
        position: absolute;
        top: 8.6rem;
        white-space: nowrap;
        width: 61.7rem;
      }
      .art-1-5Zg {
        height: 49.1rem;
        left: 37.8rem;
        object-fit: cover;
        position: absolute;
        top: 2.1rem;
        vertical-align: top;
        width: 77.7rem;
      }
      .fmt-zAr {
        color: #ffffff;
        cursor: pointer;
        font-family: Sedan, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        height: 2.8rem;
        left: 0.8rem;
        line-height: 1.2575;
        overflow: hidden;
        position: absolute;
        top: 17.7rem;
        white-space: nowrap;
        width: 1.3rem;
      }
    }
    .auto-group-b7gi-Gu4 {
      height: 137.6418rem;
      left: 3.2rem;
      position: absolute;
      top: 81.7rem;
      width: 145.8rem;
  
      .hey-im-irumva-kageruka-leon-noel-a-web-developer-who-works-on-both-the-back-end-and-front-end-of-websitesmy-academic-journey-in-software-engineering-has-been-marked-by-engaging-coursework-and-hands-on-projects-from-developing-a-collaborative-coding-platform-in-my-sophomore-year-to-designing-a-user-friendly-mobile-app-ive-gained-valuable-insights-into-various-aspects-of-software-engineering-on-the-backend-im-skilled-in-technologies-such-as-nodejs-and-express-where-i-handle-the-server-side-functionalities-that-power-websites-on-the-frontend-i-work-with-html-css-and-javascript-along-with-frameworks-like-react-to-create-user-interfaces-that-are-not-only-visually-appealing-but-also-user-friendly-ensuring-the-code-i-write-is-clean-and-functions-seamlessly-is-important-to-me-i-believe-that-well-organized-and-efficient-code-contributes-to-better-overall-performance-and-user-experience-i-like-making-sure-that-the-code-i-write-is-clean-and-works-well-what-makes-me-stand-out-is-that-i-can-handle-both-the-technical-stuff-and-make-things-look-good-for-users-i-stay-updated-on-the-latest-tech-trends-to-make-sure-im-using-the-best-tools-for-job-bgS {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        height: 72.8rem;
        left: 57.8rem;
        line-height: 1.2125;
        position: absolute;
        top: 6.9rem;
        width: 81.1rem;
      }
      .softwareengineer-1-b66 {
        border-radius: 0.5rem;
        height: 38.2rem;
        left: 5.9rem;
        object-fit: cover;
        position: absolute;
        top: 0;
        vertical-align: top;
        width: 48.2rem;
      }
      .group-7-7aE {
        height: 80.4418rem;
        left: 0;
        position: absolute;
        top: 57.2rem;
        width: 145.8rem;
  
        .group-5-3Tt {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 80.4418rem;
          left: 0;
          position: absolute;
          top: 0;
          width: 111.878rem;
  
          .skills-acquired-Zh8 {
            color: #ffffff;
            flex-shrink: 0;
            font-family: Sen, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.2025;
            margin: 0rem 0rem 2.724rem 16.395rem;
            white-space: nowrap;
          }
          .auto-group-gnfg-fVG {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            height: 63.925rem;
            margin-bottom: 5.993rem;
            width: 100%;
  
            .auto-group-hqhk-yVx {
              align-items: center;
              background-color: #283046;
              box-sizing: border-box;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              height: 100%;
              margin-right: 30.8254rem;
              padding: 4.942rem 0.541rem 11.249rem 4.2rem;
              width: 66.8526rem;
  
              .back-end-development-3u8 {
                color: #ffffff;
                flex-shrink: 0;
                font-family: Sen, 'Source Sans Pro';
                font-size: 3.2rem;
                font-weight: 700;
                line-height: 1.2025;
                margin: 0rem 3.086rem 2.093rem 0rem;
                white-space: nowrap;
              }
              .auto-group-xjee-y26 {
                align-items: flex-start;
                display: flex;
                flex-shrink: 0;
                margin: 0rem 0rem 4.742rem 0.003rem;
                width: calc(100% - 0.0033rem);
  
                .nodejslogo-HoU {
                  flex-shrink: 0;
                  height: 7.4649rem;
                  margin: 0.21rem 3.401rem 0rem 0rem;
                  object-fit: cover;
                  vertical-align: top;
                  width: 7.5077rem;
                }
                .advanced-nodejs-expertise-skilled-in-building-scalable-and-server-side-applications-proficient-in-asynchronous-programming-utilizing-npm-packages-and-creating-restful-apis-with-expressjs-experienced-in-working-with-databases-such-as-mongodb-or-mysql-for-robust-back-end-development-PLi {
                  color: #ffffff;
                  flex-shrink: 0;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 1.5rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  max-width: 51.2rem;
                }
              }
              .auto-group-wsls-QFp {
                align-items: flex-start;
                display: flex;
                flex-shrink: 0;
                margin: 0rem 1.512rem 6.713rem 0rem;
                width: calc(100% - 1.5119rem);
  
                .postgrelogo-8Bp {
                  flex-shrink: 0;
                  height: 7.8855rem;
                  margin: 0.401rem 3.392rem 0rem 0rem;
                  object-fit: cover;
                  vertical-align: top;
                  width: 7.5077rem;
                }
                .proficient-in-postgresql-skilled-in-designing-and-optimizing-relational-databases-writing-complex-sql-queries-and-ensuring-data-integrity-experienced-in-database-administration-tasks-and-adept-at-performance-tuning-for-efficient-and-scalable-data-management-SyC {
                  color: #ffffff;
                  flex-shrink: 0;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 1.5rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  max-width: 49.7rem;
                }
              }
              .auto-group-2pfg-HD8 {
                align-items: flex-start;
                display: flex;
                flex-shrink: 0;
                margin-right: 1.2119rem;
                width: calc(100% - 1.2119rem);
  
                .mongodblogo-2Rc {
                  flex-shrink: 0;
                  height: 6.8341rem;
                  margin: 0.401rem 3.392rem 0rem 0rem;
                  object-fit: cover;
                  vertical-align: top;
                  width: 7.5077rem;
                }
                .mongodb-expert-with-proficiency-in-designing-and-implementing-nosql-databases-crafting-efficient-and-flexible-document-structures-and-utilizing-the-mongodb-query-language-experienced-in-scalability-indexing-and-data-modeling-for-robust-and-high-performance-database-solutions-xKG {
                  color: #ffffff;
                  flex-shrink: 0;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 1.5rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  max-width: 50rem;
                }
              }
            }
            .advanced-level-mnW {
              color: #ffffff;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-bottom: 28.4111rem;
              white-space: nowrap;
            }
          }
          .projects-worked-on-hgA {
            color: #ffffff;
            flex-shrink: 0;
            font-family: Sen, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.2025;
            margin-left: 37.1934rem;
            white-space: nowrap;
          }
        }
        .rectangle-19-DuQ {
          background-color: #283047;
          height: 63.925rem;
          left: 71.3rem;
          position: absolute;
          top: 6.6238rem;
          width: 74.5rem;
        }
        .advanced-css-proficiency-adept-at-designing-visually-appealing-and-responsive-interfaces-with-expertise-in-modern-css3-features-flexbox-and-grid-for-optimal-layout-and-styling-keS {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 400;
          height: 7.3rem;
          left: 84.9rem;
          line-height: 1.2125;
          position: absolute;
          top: 28.7032rem;
          width: 57.5rem;
        }
        .advanced-javascript-proficiency-skilled-in-developing-dynamic-and-interactive-web-applications-with-expertise-in-es6-features-asynchronous-programming-and-front-end-frameworks-like-react-or-vuejs-nLE {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 400;
          height: 7.3rem;
          left: 84.9rem;
          line-height: 1.2125;
          position: absolute;
          top: 42.056rem;
          width: 53.7rem;
        }
        .expert-in-reactjs-with-a-strong-command-of-component-based-architecture-state-management-using-hooks-and-building-efficient-and-scalable-user-interfaces-proficient-in-leveraging-react-ecosystem-tools-for-seamless-development-and-optimal-performance-C94 {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 400;
          height: 9.1rem;
          left: 84.9rem;
          line-height: 1.2125;
          position: absolute;
          top: 55.0933rem;
          width: 55rem;
        }
        .html-logo-1-1cJ {
          height: 7.3598rem;
          left: 77rem;
          object-fit: cover;
          position: absolute;
          top: 17.7686rem;
          vertical-align: top;
          width: 5.2rem;
        }
        .csslogo-1-k46 {
          height: 7.8855rem;
          left: 77rem;
          object-fit: cover;
          position: absolute;
          top: 29.2289rem;
          vertical-align: top;
          width: 5.2rem;
        }
        .jslogo-1-gTY {
          height: 6.8341rem;
          left: 77rem;
          object-fit: cover;
          position: absolute;
          top: 42.1014rem;
          vertical-align: top;
          width: 5.2rem;
        }
        .reactlogo-1-1ki {
          height: 7.8855rem;
          left: 77rem;
          object-fit: cover;
          position: absolute;
          top: 55.1014rem;
          vertical-align: top;
          width: 5.2rem;
        }
        .front-end-development-xR4 {
          color: #ffffff;
          font-family: Sen, 'Source Sans Pro';
          font-size: 3.2rem;
          font-weight: 700;
          height: 3.9rem;
          left: 82.8rem;
          line-height: 1.2025;
          position: absolute;
          top: 11.0397rem;
          white-space: nowrap;
          width: 43.9rem;
        }
        .advanced-html-expertise-skilled-in-creating-intricate-and-semantically-rich-web-pages-with-proficiency-in-html5-features-and-responsive-design-implementation-4U6 {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 400;
          height: 9.1rem;
          left: 83.9rem;
          line-height: 1.2125;
          position: absolute;
          top: 15.7rem;
          width: 58.1rem;
        }
      }
      .about-me-KQ2 {
        color: #ffffff;
        font-family: Sedan, 'Source Sans Pro';
        font-size: 3.6rem;
        font-weight: 400;
        height: 4.6rem;
        left: 82rem;
        line-height: 1.2575;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 16rem;
      }
    }
    .dashboard-EWz {
      align-items: center;
      display: flex;
      height: 2.5rem;
      left: 9.1rem;
      position: absolute;
      top: 6rem;
      width: 56.2219rem;
  
      .frame-1-xxn {
        align-items: center;
        border: solid 0 #ffffff;
        box-sizing: border-box;
        column-gap: 4.5rem;
        display: flex;
        flex-shrink: 0;
        height: 100%;
        margin-right: 10.674rem;
  
        .home-74z {
          align-items: center;
          color: #ffffff;
          cursor: pointer;
          display: flex;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 400;
          height: 100%;
          justify-content: center;
          line-height: 1.2125;
          white-space: nowrap;
          width: 5.6rem;
        }
        .home-1RG {
          align-items: center;
          color: #ffffff;
          cursor: pointer;
          display: flex;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 400;
          height: 100%;
          justify-content: center;
          line-height: 1.2125;
          white-space: nowrap;
          width: 7.2rem;
        }
        .home-XeW {
          align-items: center;
          color: #ffffff;
          cursor: pointer;
          display: flex;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 400;
          height: 100%;
          justify-content: center;
          line-height: 1.2125;
          white-space: nowrap;
          width: 5.7rem;
        }
        .home-TYA {
          align-items: center;
          color: #ffffff;
          cursor: pointer;
          display: flex;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 400;
          height: 100%;
          justify-content: center;
          line-height: 1.2125;
          white-space: nowrap;
          width: 4.7rem;
        }
        .home-PAv {
          align-items: center;
          color: #ffffff;
          cursor: pointer;
          display: flex;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 400;
          height: 100%;
          justify-content: center;
          line-height: 1.2125;
          white-space: nowrap;
          width: 4.2rem;
        }
      }
      .ellipse-1-hxJ {
        flex-shrink: 0;
        height: 0.2rem;
        margin-bottom: 0.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.1478rem;
      }
    }
    .for-more-of-my-projects-please-review-my-cv-eMk {
      color: #ffffff;
      font-family: Sen, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 700;
      height: 2.5rem;
      left: 6rem;
      line-height: 1.2025;
      position: absolute;
      top: 302.1rem;
      white-space: nowrap;
      width: 42.9rem;
    }
    .cv-button-k9t {
      align-items: center;
      background-color: #151925;
      border: solid 0.02rem rgba(0, 0, 0, 0.1000000015);
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      font-family: Sen, 'Source Sans Pro';
      font-size: 3.6rem;
      font-weight: 400;
      height: 6.2rem;
      justify-content: center;
      left: 6rem;
      line-height: 1.2025;
      position: absolute;
      top: 306.4rem;
      white-space: nowrap;
      width: 14.1rem;
    }
    .contactgroup-AUW {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 79rem;
      left: 6rem;
      position: absolute;
      top: 314.5rem;
      width: 130.6rem;
  
      .contact-reach-connect-uBC {
        color: #ffffff;
        flex-shrink: 0;
        font-family: Kiwi Maru, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.4475;
        margin: 0rem 26.4rem 8.1rem 0rem;
        text-decoration-line: underline;
        white-space: nowrap;
      }
      .auto-group-qyog-1EE {
        align-items: flex-start;
        display: flex;
        flex-shrink: 0;
        height: 65.1rem;
        width: 100%;
  
        .auto-group-di5u-w7t {
          align-items: center;
          background-color: #d9d9d9;
          border: solid 0.1rem #000000;
          box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 3.5rem;
          padding: 3.5rem 9.65rem 2rem 6.3rem;
          width: 85.5rem;
  
          .auto-group-umzy-3Rp {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            height: 6.4rem;
            margin: 0rem 0rem 4.4rem 0.05rem;
            width: calc(100% - 0.05rem);
  
            .auto-group-u5ae-k5L {
              background-color: #151925;
              box-sizing: border-box;
              color: #ffffff;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 500;
              height: 100%;
              line-height: 1.2125;
              margin-right: 8.5rem;
              padding: 2rem 1.45rem 1.9rem 1.45rem;
              white-space: nowrap;
              width: 30.5rem;
            }
            .auto-group-11yg-RSN {
              background-color: #151925;
              box-sizing: border-box;
              color: #ffffff;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 500;
              height: 100%;
              line-height: 1.2125;
              padding: 2rem 1.95rem 1.9rem 1.95rem;
              white-space: nowrap;
              width: 30.5rem;
            }
          }
          .auto-group-uwcs-WCv {
            background-color: #151925;
            box-sizing: border-box;
            color: #ffffff;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            margin: 0rem 0rem 4.2rem 0.05rem;
            padding: 2rem 1.45rem 1.8rem 1.45rem;
            white-space: nowrap;
            width: calc(100% - 0.05rem);
          }
          .auto-group-qu3u-ysC {
            background-color: #151925;
            box-sizing: border-box;
            color: #ffffff;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            margin: 0rem 0.05rem 2.5rem 0rem;
            padding: 2rem 1.5rem 1.8rem 1.5rem;
            white-space: nowrap;
            width: calc(100% - 0.05rem);
          }
          .auto-group-ff2e-eiS {
            background-color: #151925;
            box-sizing: border-box;
            color: #ffffff;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 500;
            height: 24.6rem;
            line-height: 1.2125;
            margin: 0rem 0.05rem 1.3rem 0rem;
            padding: 4.2rem 1.5rem;
            white-space: nowrap;
            width: calc(100% - 0.05rem);
          }
          .auto-group-fdzx-L5U {
            background-color: #283047;
            border: solid 0.1rem #ffffff;
            box-sizing: border-box;
            color: #808080;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 400;
            height: 3.6rem;
            line-height: 1.2125;
            margin-left: 59.95rem;
            padding: 0rem 2rem 0rem 1.9rem;
            white-space: nowrap;
          }
        }
        .auto-group-sfrx-xMk {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-top: 1rem;
  
          .auto-group-bmzn-7Ee {
            flex-shrink: 0;
            height: 11.3rem;
            margin: 0rem 0.4rem 11.1rem 0rem;
            position: relative;
            width: 41.2rem;
  
            .rectangle-7-qAe {
              background-color: #151925;
              border: solid 0.05rem #01eeff;
              box-sizing: border-box;
              height: 9.2rem;
              left: 0;
              position: absolute;
              top: 2.1rem;
              width: 40.1rem;
            }
            .rectangle-9-Lt6 {
              background-color: #151925;
              border: solid 0.05rem #01eeff;
              box-sizing: border-box;
              height: 9.2rem;
              left: 0;
              position: absolute;
              top: 2.1rem;
              width: 40.1rem;
            }
            .rectangle-8-UUW {
              background-color: #151925;
              border: solid 0.05rem #01eeff;
              box-sizing: border-box;
              height: 9.2rem;
              left: 0;
              position: absolute;
              top: 2.1rem;
              width: 40.1rem;
            }
            .dalidapcmgmailcom-email-p2a {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 400;
              height: 5.4rem;
              left: 10.6rem;
              line-height: 1.2125;
              position: absolute;
              top: 3.6rem;
              width: 25.6rem;
  
              .dalidapcmgmailcom-email-p2a-sub-0 {
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2125;
              }
              .dalidapcmgmailcom-email-p2a-sub-1 {
              }
            }
            .frame-4-vdL {
              height: 10rem;
              left: 31.2rem;
              overflow: hidden;
              position: absolute;
              top: 0;
              width: 10rem;
            }
          }
          .auto-group-kjjp-4jY {
            background-color: #151925;
            border: solid 0.05rem #01eeff;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 9.2rem;
            padding: 2.3rem 4.4rem 1.5rem 4.4rem;
            width: 40.1rem;
  
            .telephone-number-zNJ {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2125;
              max-width: 25.3rem;
  
              .telephone-number-zNJ-sub-0 {
              }
              .telephone-number-zNJ-sub-1 {
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 400;
                letter-spacing: 0.48rem;
                line-height: 1.2125;
              }
              .telephone-number-zNJ-sub-2 {
              }
            }
          }
        }
      }
    }
    .codepulsehub-is-a-cutting-edge-project-management-tool-tailored-for-orchestrating-and-overseeing-tech-events-such-as-hackathons-coding-sprints-and-competitions-this-innovative-platform-simplifies-the-planning-coordination-and-progress-tracking-processes-during-intense-coding-sessions-with-features-like-effortless-event-setup-dynamic-team-collaboration-an-intuitive-task-board-real-time-updates-and-streamlined-judging-and-evaluation-tools-codepulsehub-aims-to-enhance-the-overall-experience-for-participants-and-organizers-alike-developed-using-reactjs-for-the-frontend-nodejs-and-express-for-backend-logic-and-mongodb-for-data-storage-the-platform-ensures-a-dynamic-and-responsive-user-interface-efficient-server-side-operations-and-secure-authentication-through-jwt-codepulsehub-is-poised-to-revolutionize-how-tech-events-are-managed-fostering-collaboration-transparency-and-productivity-throughout-the-entire-event-lifecycle-oDG {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      height: 30.6rem;
      left: 6rem;
      line-height: 1.2125;
      position: absolute;
      top: 225.9rem;
      width: 117.1rem;
  
      .codepulsehub-is-a-cutting-edge-project-management-tool-tailored-for-orchestrating-and-overseeing-tech-events-such-as-hackathons-coding-sprints-and-competitions-this-innovative-platform-simplifies-the-planning-coordination-and-progress-tracking-processes-during-intense-coding-sessions-with-features-like-effortless-event-setup-dynamic-team-collaboration-an-intuitive-task-board-real-time-updates-and-streamlined-judging-and-evaluation-tools-codepulsehub-aims-to-enhance-the-overall-experience-for-participants-and-organizers-alike-developed-using-reactjs-for-the-frontend-nodejs-and-express-for-backend-logic-and-mongodb-for-data-storage-the-platform-ensures-a-dynamic-and-responsive-user-interface-efficient-server-side-operations-and-secure-authentication-through-jwt-codepulsehub-is-poised-to-revolutionize-how-tech-events-are-managed-fostering-collaboration-transparency-and-productivity-throughout-the-entire-event-lifecycle-oDG-sub-0 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .codepulsehub-is-a-cutting-edge-project-management-tool-tailored-for-orchestrating-and-overseeing-tech-events-such-as-hackathons-coding-sprints-and-competitions-this-innovative-platform-simplifies-the-planning-coordination-and-progress-tracking-processes-during-intense-coding-sessions-with-features-like-effortless-event-setup-dynamic-team-collaboration-an-intuitive-task-board-real-time-updates-and-streamlined-judging-and-evaluation-tools-codepulsehub-aims-to-enhance-the-overall-experience-for-participants-and-organizers-alike-developed-using-reactjs-for-the-frontend-nodejs-and-express-for-backend-logic-and-mongodb-for-data-storage-the-platform-ensures-a-dynamic-and-responsive-user-interface-efficient-server-side-operations-and-secure-authentication-through-jwt-codepulsehub-is-poised-to-revolutionize-how-tech-events-are-managed-fostering-collaboration-transparency-and-productivity-throughout-the-entire-event-lifecycle-oDG-sub-1 {
      }
    }
    .oneblogpost-Saz {
      align-items: center;
      border-radius: 0.8rem;
      display: flex;
      height: 37.5rem;
      left: 6rem;
      position: absolute;
      top: 261.1rem;
      width: 123.6rem;
  
      .auto-group-xgkw-aBQ {
        flex-shrink: 0;
        height: 100%;
        margin-right: 13rem;
        position: relative;
        width: 56rem;
  
        .frame-8-7x2 {
          background-color: #283047;
          border-radius: 0.8rem;
          box-sizing: border-box;
          height: 37.5rem;
          left: 0;
          overflow: hidden;
          padding: 4.5rem 0rem 0rem 1.6rem;
          position: absolute;
          top: 0;
          width: 56rem;
  
          .navigating-the-digital-realm-Vxa {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.2125;
            margin-bottom: 3.1rem;
            white-space: nowrap;
          }
          .embark-on-a-journey-through-lines-of-code-and-the-labyrinth-of-algorithms-with-me-as-a-software-engineer-my-portfolio-blog-is-a-digital-canvas-where-i-paint-my-experiences-challenges-and-triumphs-in-the-ever-evolving-landscape-of-technology-join-me-in-unraveling-the-intricate-threads-of-software-engineering-and-witness-the-tales-of-innovation-that-unfold-within-the-binary-realm-welcome-to-my-world-where-every-line-of-code-tells-a-story-of-problem-solving-and-creativity-1vv {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2125;
            margin-bottom: 2.8rem;
            max-width: 52.6rem;
          }
          .auto-group-syce-Zb4 {
            align-items: center;
            display: flex;
            margin: 0rem 0rem 34.7rem 9.6rem;
            width: calc(100% - 9.6rem);
  
            .rectangle-31-ttE {
              background-color: #151925;
              border-radius: 0.8rem;
              flex-shrink: 0;
              height: 6.4rem;
              margin-right: 45.5rem;
              width: 26.5rem;
            }
            .rectangle-32-dL2 {
              background-color: #151925;
              flex-shrink: 0;
              height: 6.4rem;
              width: 26.5rem;
            }
          }
          .auto-group-q5xr-NoQ {
            align-items: center;
            display: flex;
            margin-right: 30.2rem;
            width: calc(100% - 30.2rem);
  
            .programming-hqg {
              color: #978e8e;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-right: 5.9rem;
              white-space: nowrap;
            }
            .mysource-SoG {
              color: #988f8f;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              white-space: nowrap;
            }
          }
        }
        .read-more-mae {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.2rem;
          font-weight: 900;
          height: 3.9rem;
          left: 16rem;
          line-height: 1.2125;
          position: absolute;
          top: 30.6rem;
          white-space: nowrap;
          width: 16.9rem;
        }
      }
      .auto-group-4z4e-GnJ {
        flex-shrink: 0;
        height: 100%;
        position: relative;
        width: 54.6rem;
  
        .frame-9-2Wa {
          align-items: center;
          background-color: #283047;
          border-radius: 0.8rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          height: 37.5rem;
          left: 0;
          overflow: hidden;
          padding: 4.5rem 0.4rem 0rem 1.6rem;
          position: absolute;
          top: 0;
          width: 54.6rem;
  
          .navigating-the-digital-realm-8pW {
            color: #ffffff;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.2125;
            margin: 0rem 3rem 3.1rem 0rem;
            white-space: nowrap;
          }
          .embark-on-a-journey-through-lines-of-code-and-the-labyrinth-of-algorithms-with-me-as-a-software-engineer-my-portfolio-blog-is-a-digital-canvas-where-i-paint-my-experiences-challenges-and-triumphs-in-the-ever-evolving-landscape-of-technology-join-me-in-unraveling-the-intricate-threads-of-software-engineering-and-witness-the-tales-of-innovation-that-unfold-within-the-binary-realm-welcome-to-my-world-where-every-line-of-code-tells-a-story-of-problem-solving-and-creativity-T66 {
            color: #ffffff;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2125;
            margin-bottom: 2.8rem;
            max-width: 52.6rem;
          }
          .rectangle-33-brW {
            background-color: #151925;
            border-radius: 0.8rem;
            flex-shrink: 0;
            height: 6.4rem;
            margin: 0rem 13.5rem 34.7rem 12.6rem;
            width: calc(100% - 26.1rem);
          }
          .auto-group-yugz-iAS {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            margin-right: 28.4rem;
            width: calc(100% - 28.4rem);
  
            .programming-3iW {
              color: #978e8e;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-right: 5.9rem;
              white-space: nowrap;
            }
            .mysource-C5c {
              color: #988f8f;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              white-space: nowrap;
            }
          }
        }
        .read-more-7yG {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.2rem;
          font-weight: 900;
          height: 3.9rem;
          left: 20rem;
          line-height: 1.2125;
          position: absolute;
          top: 30.6rem;
          white-space: nowrap;
          width: 16.9rem;
        }
      }
    }
  }
  