body,div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grandparent{
    width: 200px;
    height: 200px;
    background-color: red;
}
.parent{
    width: 130px;
    height: 130px;
    background-color: blue;
}
.child{
    width: 60px;
    height: 60px;
    background-color: green;
}
.menu-bars{
    position: fixed;
    top: 1rem; 
    right: 1rem;
    z-index: 10000;
    background-color: blue;
    color: #fff;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
}